
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700&display=swap');

/* doc style */

* {
     box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
    
   }
   
   body {
     margin: 0 auto;
   }

   h3, h2 {
       margin-left: 15px;
       color: gray;
   }
   
 
/* Setting size and rounded look on images and sizes */
 .members img, .recent img {
     height: 50px;
     width: 50px;
     border-radius: 50%;
 }

 img {
     height: 50px;
     width: 50px;
     padding-right: 5px;

 }

 
 
.bell {
    height: 30px;
    width: 50px;
    
    padding-right: 10px;
    transition: transform 1s;
}

.bell:hover {
    transform: rotate(20deg);
}

.bell-border {
    border-right: 1px solid black;
}
.circle {
    height: 10px;
    width: 10px;
    border: 1px solid black;
}


/* setting up header to be styled */
/* ------Also to make this work correctly had to set the display of the header to "flex".
See the header in the setting up the grid section too. */
h1 {
    margin-right: auto;
    color: white;
    padding-left: 10px;
}


.profile-pic {
    padding: 0 10px 0 10px ;
    border-radius: 50%;
    
}
header p{
    padding-right: 10px;
}

/* nav bar - see media query for other adjustments for the Nav Bar */

.nav-bar img {
    padding: 10px;
    height: 30px;
    width: 30px;

 }

 /* Dashboard and search bar styling */
 .main-header {
     display: flex;
     justify-content: space-between;
     

 }

 .main-header input{
     width: 50%;
     border-radius: 5px;
     border: solid lightgray 1px;
     padding: 10px 0 10px 15px;
     margin-right: 15px;
     display: flex;
     justify-content: flex-end;
    
     

 }

 .search-bar {
     background-color:  rgb(247, 247, 247);
     border: 1px solid lightgray;
     border-radius: 5px;
     width: 80%;
     display: flex;
     align-items: center;
     justify-content: flex-end;

 }
 


 /* Traffic styling */
 .traffic-header {
     display: flex;
     justify-content: flex-end;
     flex-wrap: nowrap;
 }

.traffic-heading {
    margin-right: auto;
}
 
 .traffic-nav li {
    display: inline-block;
    color: gray;
    padding-left: 40px;
    }
 .traffic {
     border-bottom: 1px solid lightgray;
 }   
 .traffic-nav {
     margin-right: 15px;
 }

#traffic-chart {
padding-left: 25px;
margin-left: 10px;
padding-bottom: 15px;

}
/*Alert Styling  */

.alert {
   background-color:#7477BF;
   margin-left: 15px;
   margin-right: 15px;
   border-radius: 5px;
   color: white;
   margin-top: 20px;
  
   

}
.alert p {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}
.alert-banner-close {
    float: right;
    padding-right: 5px;
}







/* setting up the grid */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
    
}

header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:#7477BF;
    color: white;

}

nav {
    grid-area: nav;
    background-color:rgb(69, 72, 158);
    display: flex;
    justify-content: center;
}



main {
    grid-area: main;
    display: grid;
    width: 100%;
    
}

.widget-container-full, .widget-container-half {
    width: 90vw;
}




/* social circles */

.facebook-circle, .google-circle, .twitter-circle {
    display: flex;
    justify-content: center;
    height: 60px;
    width:  60px; 
    border-radius: 50%;
    background-color: #7477BF;
    padding:10px 10px; 
    margin: 10px ;
    margin-right: ;

    
}

.twitter-svg {
    padding-top: 15px;
}
.google-svg {
    padding-top: 15px;
}

/* social container */


.social-container {
    padding-bottom: 40px;
}
.number {
    font-size: 64px;
    margin-top: 0;
    margin-bottom: auto;
    color: gray;
   
}
.social-name {
    margin-bottom: auto;
    font-size: 18px;
    color: #7477BF;
}

.twitter-block, .facebook-block, .google-block {
    display: flex;
    border: lightgray solid 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 15px auto;
    background-color: rgb(247, 247, 247);
    padding:0 15px;
    
    
}


/* daily traffic */
.daily {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-bottom: 15px;
}

/* mobile users */
.mobile {
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}

/* New Members */

.members {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    color:gray;
    
}
.members-container, .recent-container {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    
}
.members p {
    margin-bottom: 0;
    margin-top: 0;
}
.member-1, .member-2, .member-3, .member-4  {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin:  0 15px ;
    padding: 15px;
    
}

.date {
    margin-left: auto;
    align-items: center;
    justify-content: flex-start;
}

a {
    color: #7477BF;
    text-decoration: none;
}

/* recent */

.recent {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    color: gray;
}

.recent-1, .recent-2, .recent-3, .recent-4 {
    display: flex;
    align-items: center;
    margin: 0 15px;
    padding: 15px;
}
.recent-container p {
    margin-top: 0;
    margin-bottom: 0;
}
.recent-container span {
    margin-left: auto;
}

/* styling the underlines in recent and members */

.member-1, .member-2, .member-3, .recent-1, .recent-2, .recent-3 {
    border-bottom: 1px solid lightgray;
}


/* message user */
.message {
    border-right: 1px solid lightgray;
}

.message-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 15px;
}

.button-primary {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #7477BF;
    color: white;
}

.form-area {
    padding-bottom: 45px;
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 5px;
}

#userField {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.form-area, .form-field {
    border: 1px solid lightgray;
    border-radius: 5px;
}



/* Settings Area */
.settings-container {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 35px;
    color: gray;
}



.settings-button {
    display: flex;
    justify-content: space-between ;
        
}

#cancel, #save {
    width: 48%;
}
#cancel {
    border-radius: 5px;
    padding: 10px 6px 10px 6px;
    /* height: 35px; */
    margin-top: 10px;
    background-color: gray;
    color: white;
   
}
#timezone {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}



/* media query */

@media (min-width: 768px) {
    .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
    "header header"
    "nav main";
    }
    .main {
        grid-template-columns: 50%;
    }
   .main-header {
       grid-column-start: 1;
       grid-column-end: 3;
   }

    .traffic , .social-container {
        grid-column: 1 / span 2;
    }

    .daily , .members , .message {
        grid-column: 1 / span 1;
    }

    .recent , .mobile , .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }
    .alert {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .social-container {
        display: flex;
        justify-content: space-evenly;
    }
    .twitter-block, .facebook-block, .google-block {     
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-basis: 25%;
        margin-right: 0;
        margin-left: 0; 
        padding-right: 30px;
    }
}



 @media (max-width: 767px) {
     .message {
        border-bottom: 1px solid lightgray;
        border-right: none;
        padding-bottom: 10px;
     }

     .members {
         border-right: none;
     }
 }


